@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3zn7rq');
  src:  url('fonts/icomoon.eot?3zn7rq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3zn7rq') format('truetype'),
    url('fonts/icomoon.woff?3zn7rq') format('woff'),
    url('fonts/icomoon.svg?3zn7rq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rs:before {
  content: "\e92b";
}
.icon-re:before {
  content: "\e900";
}
.icon-phone .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.icon-phone .path2:before {
  content: "\e902";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-phone .path3:before {
  content: "\e903";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-phone .path4:before {
  content: "\e904";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-phone .path5:before {
  content: "\e905";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-sn2:before {
  content: "\e906";
}
.icon-ds2 .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-ds2 .path2:before {
  content: "\e908";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-ds2 .path3:before {
  content: "\e909";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-ds2 .path4:before {
  content: "\e90a";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-ds2 .path5:before {
  content: "\e90b";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-ds2 .path6:before {
  content: "\e90c";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-ds2 .path7:before {
  content: "\e90d";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-ga:before {
  content: "\e90e";
}
.icon-he2:before {
  content: "\e90f";
}
.icon-hnd2:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-lady .path1:before {
  content: "\e912";
  color: rgb(0, 0, 0);
}
.icon-lady .path2:before {
  content: "\e913";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-lady .path3:before {
  content: "\e914";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-pin .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.icon-pin .path2:before {
  content: "\e916";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-pin .path3:before {
  content: "\e917";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-ppl:before {
  content: "\e918";
}
.icon-sn:before {
  content: "\e919";
}
.icon-ds .path1:before {
  content: "\e91a";
  color: rgb(0, 0, 0);
}
.icon-ds .path2:before {
  content: "\e91b";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-ds .path3:before {
  content: "\e91c";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-ds .path4:before {
  content: "\e91d";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-ds .path5:before {
  content: "\e91e";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-ds .path6:before {
  content: "\e91f";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-ds .path7:before {
  content: "\e920";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-he:before {
  content: "\e921";
}
.icon-hnd:before {
  content: "\e922";
}
.icon-home2:before {
  content: "\e923";
}
.icon-lady2 .path1:before {
  content: "\e924";
  color: rgb(0, 0, 0);
}
.icon-lady2 .path2:before {
  content: "\e925";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-lady2 .path3:before {
  content: "\e926";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-pin2 .path1:before {
  content: "\e927";
  color: rgb(0, 0, 0);
}
.icon-pin2 .path2:before {
  content: "\e928";
  margin-left: -0.7724609375em;
  color: rgb(0, 0, 0);
}
.icon-pin2 .path3:before {
  content: "\e929";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}

