@font-face {
  font-family: 'GEDinarOne-Medium';
  src: url('../fonts/GEDinarOne-Medium.eot');
  src: url('../fonts/GEDinarOne-Medium.woff2') format('woff2'),
       url('../fonts/GEDinarOne-Medium.woff') format('woff'),
       url('../fonts/GEDinarOne-Medium.ttf') format('truetype'),
       url('../fonts/GEDinarOne-Medium.svg#GEDinarOne-Medium') format('svg'),
       url('../fonts/GEDinarOne-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hacen Saudi Arabia';
  src: url('../fonts/Hacen Saudi Arabia.eot');
  src: url('../fonts/Hacen Saudi Arabia.woff2') format('woff2'),
  url('../fonts/Hacen Saudi Arabia.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HacenSaudiArabia';
  src: url('../fonts/HacenSaudiArabia.woff') format('woff'),
  url('../fonts/HacenSaudiArabia.ttf') format('truetype'),
  url('../fonts/HacenSaudiArabia.svg#HacenSaudiArabia') format('svg');
  font-weight: normal;
  font-style: normal;
}


#page-loader {
	position: fixed;
	z-index: 999999;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.loader-img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -60px;
	text-align: center;
}
.loader-img img {
	max-width: 180px;
	border-radius: 0;
}
.loader-img:after {
	position: absolute;
	top: 40%;
	left: 50%;
	display: block;
	width: 160px;
	height: 160px;
	border-top: 2px solid #da5722;
	border-right: 2px solid #da5722;
	border-radius: 50%;
	content: "";
	margin: -70px 0 0 -80px;
	-webkit-animation: rotate 1s linear infinite;
	animation: rotate 1s linear infinite;
}
 @-webkit-keyframes rotate {
 0% {
 -webkit-transform: rotate(0);
 -ms-transform: rotate(0);
 transform: rotate(0);
}
 100% {
 -webkit-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
 @keyframes rotate {
 0% {
 -webkit-transform: rotate(0);
 -ms-transform: rotate(0);
 transform: rotate(0);
}
 100% {
 -webkit-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 transform: rotate(360deg);
}
}


/* ==========================================================================
  1. CSS RESET
============================================================================= */
body,html{height: 100%; width: 100%;}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
}
body {
	background: #fff;
	background-size: contain;
	position: relative;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 13px;
	font-weight: 500;
	line-height: 21px;
	font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-family: "Dosis SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	transition: margin-right 0.2s linear 0s;
}
.raleway-font{
	font-family: 'Raleway', sans-serif;
}
.block-body{
		background: #fff url("../images/body-bg2.jpg") no-repeat left -220px;
	background-size: contain;
	padding-top: 25px;
	min-height: 250px;
}
.vbox-overlay {
    z-index: 11040 !important;
}
html, body, div, span, hr, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
input, select, textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: #307c42;
	text-decoration: none;
	webkit-transition: all .2s ease 10ms;
	-moz-transition: all .2s ease 10ms;
	-o-transition: all .2s ease 10ms;
	transition: all .2s ease 10ms;
}
a:hover, .footer a:hover {
	color: #25aae1;
	text-decoration: none;
}
a:focus {
	outline: none;
}
:focus {
	outline: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
[hidden] {
 display: none;
}

.hidden{
	display: none;
}

.hidden1{
	visibility: hidden;
}
.animated {
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
h2.title-bg {
    background: #545457;
    font-size: 22px;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
}

ul, li {
	margin: 0;
	padding: 0;
}
ol {
    padding: 3px 20px;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
mark {
	background: #ff0;
	color: #000;
}
sub, sup {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
pre {
	overflow: auto;
}
code, kbd, pre, samp {
	font-size: 1em;
	font-family: monospace, monospace;
}
button, input, optgroup, select, textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0;
}
input {
	line-height: inherit;
}
input[type=checkbox], input[type=radio] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}
select {
	padding: 8px;
	border: 1px #e9e9e9 solid;
	background: #f3f3f3;
	line-height: 25px;
}
fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	border: 0;
}
legend {
	padding: 0;
	border: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	width: 100%;
	border: 1px solid #e2e2e2;
	border-spacing: 0;
	border-collapse: collapse;
}
tfoot {
	background: #e9e9e9;
	font-weight: bold;
}
th {
	text-transform: uppercase;
	border-right: 1px solid #e2e2e2;
	background: #f5f5f5;
	border-bottom: 2px #777 solid;
}
td, caption {
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}
tr.even td {
	background: #f9f9f9;
}
th, td, caption {
	padding: 10px;
}
:before, :after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before, .clearfix:after, .container:before, .container:after {
	display: table;
	content: " ";
}
.table-style2 th {
	border-right-color: #fff;
	border-bottom-color: #5c5c5c;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin: 0 0 15px;
	line-height: 24px;
}
h1, .h1 {
	font-size: 32px;
}
h2, .h2 {
	font-size: 24px;
}
h3, .h3 {
	font-size: 20px;
}
h4, .h4 {
	font-size: 16px;
}
iframe{max-width: 100%;}
.red {
	color: #d00f0f;
}
.orange{color: #da5722;}
.p-5{padding: 0 5px;}
.p-0{padding: 0;}
.p-10{padding: 0 10px;}
.m-auto {
	margin-right: auto;
	margin-left: auto;
}
.m-5 {
	margin: 5px;
}
.m-top1 {
	margin-top: 65px !important;
}
.m-10 {
	margin: 10px;
}
.m-up-10 {
	margin: 10px 0;
}
.m-up-15 {
	margin: 15px 0;
}
.m-15 {
	margin: 15px;
}
.m-20 {
	margin: 20px 0;
}
.m-top-15 {
	margin-top: 15px;
}
.m-top-25 {
	margin-top: 25px;
}
.m-bottom-25 {
	margin-bottom: 25px;
}
.m-top-50 {
	margin: 50px 0 30px 0;
}
.p-up-60 {
	padding-top: 60px;
}
.box-wrape {
	width: 100%;
	margin: 20px 0;
}
.red-color {
	color: #5e1009;
}
@media screen and (min-width: 980px) {
.p-160 {
	padding: 0 159px !important;
}
.p-140 {
	padding: 0 140px !important;
}
.p-120 {
	padding: 0 120px !important;
}
.p-80 {
	padding: 0 80px !important;
}
.p-50 {
	padding: 0 50px !important;
}
.p-40 {
	padding: 0 40px !important;
}
.p-30 {
	padding: 0 30px !important;
}
.p-15 {
	padding:  15px !important;
}
}
/***** margin top *****/

.top-0 {
	margin-top: 0 !important;
}
.top-20 {
	margin-top: 20px;
}
.top-30 {
	margin-top: 30px;
}
.top-40 {
	margin-top: 40px;
}
.top-60 {
	margin-top: 60px !important;
}
.top-80 {
	margin-top: 80px !important;
}
.top-100 {
	margin-top: 100px;
}
/***** margin right *****/

.mright-0 {
	margin-right: 0;
}
.mright-20 {
	margin-right: 20px !important;
}
.mright-30 {
	margin-right: 30px;
}
.mright-40 {
	margin-right: 40px;
}
.mright-60 {
	margin-right: 60px;
}
.mright-80 {
	margin-right: 80px;
}
/***** margin Left *****/

.mleft-0 {
	margin-left: 0;
}
.mleft-20 {
	margin-left: 20px !important;
}
.mleft-30 {
	margin-left: 30px;
}
.mleft-40 {
	margin-left: 40px !important;
}
.mleft-60 {
	margin-left: 60px;
}
.mleft-80 {
	margin-left: 80px;
}
.img-p {
	padding: 0 15px 10px;
}
/***** margin bottom *****/

.bot-0 {
	margin-bottom: 0 !important;
}
.bot-10 {
	margin-bottom: 10px !important;
}
.bot-20 {
	margin-bottom: 20px !important;
}
.bot-30 {
	margin-bottom: 30px !important;
}
.bot-40 {
	margin-bottom: 40px !important;
}
.bot-50 {
	margin-bottom: 50px !important;
}
.bot-60 {
	margin-bottom: 60px !important;
}
/***** padding top *****/

.pad-top-0 {
	padding-top: 0;
}
.pad-top-10 {
	padding-top: 10px !important;
}
.pad-top-20 {
	padding-top: 20px;
}
.pad-top-30 {
	padding-top: 30px;
}
.pad-top-40 {
	padding-top: 40px;
}
.pad-top-50 {
	padding-top: 50px;
}
.pad-top-60 {
	padding-top: 60px !important;
}
.pad-top-80 {
	padding-top: 80px;
}
/***** padding bottom *****/

.pad-bot-0 {
	padding-bottom: 0 !important;
}
.pad-bot-10 {
	padding-bottom: 10px;
}
.pad-bot-20 {
	padding-bottom: 20px;
}
.pad-bot-30 {
	padding-bottom: 30px !important;
}
.pad-bot-40 {
	padding-bottom: 40px;
}
.pad-bot-50 {
	padding-bottom: 50px;
}
.pad-bot-60 {
	padding-bottom: 60px;
}
.pad-bot-80 {
	padding-bottom: 80px;
}
.port-pad {
	padding: 15px;
}
.row-pad {
	padding: 80px 0 60px;
}
.img-p-15-left {
	padding: 0 0 15px 15px;
}
.img-p-25 {
	padding: 25px;
}
.no-p {
	padding: 0;
}
.no-p-bottom {
	margin-bottom: 0 !important;
}
.p-20 {
	padding: 20px 0 !important;
}
.white {
	color: #fff;
}
.black {
	color: #000;
}
.range {
	color: #ffb200;
}
.blue {
	color: #25aae1;
}
.blue-light {
	color: #85a0d3;
}
.blue-dark {
	color: #1d5782;
}
.wrapper {
	width: 100%;
	float: left;
}
.container {
	position: relative;
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.grey {
	color: #7f7f7f;
}
.border {
	margin: 15px 0;
	border: solid 1px #cacaca;
	clear: both;
}
.video {
	width: 100%;
	min-height: 268px;
}
.header {
	position: relative;
}
.page-wrap {
	position: relative;
}
/* ==========================================================================
  3. HEADER STYLE.
============================================================================= */
/* ---- 3.1 Top bar ------------------ */
.top-po{background:#fff; position: absolute; width: 100%;  float: left;     z-index: 3;}
.top-bar {
	color: #000;
	font-size: 12px;
position: absolute;
right: 13.5%;
top: 4%;
z-index: 233333;

}

.green{
	color: #1ea541;
}
.top-bar.main-bg {
	border-bottom: 0
}
.dir-left {
	direction: ltr;
}
.top-bar .nav {
	margin: 0 5px;
	color: #fff;
	font-size: 11px;
}
.top-bar a {
	display: block;
	padding: 0 10px;
	color: #000;
}

.top-bar .nav ul {
	margin: 2px 0;
}
.top-bar .nav li {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;

}
.top-bar .nav li:last-child {
	border-left: 0;
}
.top-bar .nav li i {
	padding: 0 3px;
}
.login-box{position: relative;
}
.p-0{padding-left: 0; padding-right: 0;}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.4;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgb(222, 222, 222);
}
.login-box .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 25rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background: rgba(75, 138, 90, 0.91);
    color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}
.login-box .dropdown-menu a {
    color: #fff;
}

.login-box  .dropdown-menu .btn{background: #25aae1;}
.btn-login{background: #307c42 !important;}
.login-box [class*="col-"] {
    padding-right: 3px;
    padding-left: 3px;
  }

.sm-font{font-size: 13px;}
/* ---- 3.2 Top logo --------------------- */
#header {
	z-index: 3;
	min-height: 140px;
}
.nav-top {
	position: relative;
	padding: 0;
	    width: 95px;
	    margin: 0 5px;
}
.nav-top li {
	display: inline-block;
		border-right: solid 1px #cacaca;
}
.nav-top li:last-child {
	border-right: 0;
}
.nav-top li:last-child a {
	padding-right: 0;
	font-weight: bold;
}
.nav-top li a {
	padding: 0 5px;
	display: inline-block;
}
.nav-top li a:hover {
	color: #49b415;
}
	
header.top-head {
	position: relative;
	z-index: 555;
	padding: 0;
}
header.top-head .bg {
	padding-top: 0;
	    min-height: 86px;
}
.fixed-header  {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	background:#fff;
}
.fixed-header .logo {
    margin: 0 !important;
    width: 10% !important;
    	-webkit-transition: all .2s ease 10ms;
	-moz-transition: all .2s ease 10ms;
	-o-transition: all .2s ease 10ms;
	transition: all .2s ease 10ms;

}
.fixed-header .logo a {
    min-width: 70px !important;
        	-webkit-transition: all .2s ease 10ms;
	-moz-transition: all .2s ease 10ms;
	-o-transition: all .2s ease 10ms;
	transition: all .2s ease 10ms;
}

.block1{position: relative; margin-bottom: 30px;}
header.top-head .logo {
	margin: 0;
	    	-webkit-transition: all .2s ease 10ms;
	-moz-transition: all .2s ease 10ms;
	-o-transition: all .2s ease 10ms;
	transition: all .2s ease 10ms;
}
header.top-head .logo a {
	display: inline-block;
	min-width: 140px;
	margin-top: 15px;
    padding: 0;
	    	-webkit-transition: all .2s ease 10ms;
	-moz-transition: all .2s ease 10ms;
	-o-transition: all .2s ease 10ms;
	transition: all .2s ease 10ms;
}


.top-links{position: relative;
    display: flex;
    height: 100%;
        justify-content: flex-end;
}
.top-links > ul {
    display: flex;
    align-items: center;
}

.top-links > ul > li{
	height: 100%;
border-left: solid 1px #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
	}

.top-links > ul > li > a{
padding: 0 15px;
	}

.top-links > ul > li:last-child{
border-left: 0;
border-right: 0;
	}
.top-links  .fa {
    display: inline-block;
        vertical-align: middle;
    padding: 0 5px;
}
.key-icon{
	background: url("../images/key.png") no-repeat center center;
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}
.lock-icon{
	background: url("../images/lock.png") no-repeat center center;
	background-size: 17px 21px;
	width: 22px;
	height: 22px;
}
.lang {
    position: relative;
    padding: 15px;
}
.lang li{display: inline-block; padding: 0 5px;}
.lang img {
    vertical-align: middle;
}
.p-0{
	padding: 0;
}

.video-slider{
	direction: ltr;
}
.video-slider .rev_slider li.tp-revslider-slidesli {
    direction: rtl;
}
.video-slider .gyges .tp-tab-image {
    width: 100%;
    height: 100%;


}
.erinyen .tp-thumb.selected .tp-thumb-over, .erinyen .tp-thumb:hover .tp-thumb-over {

    display: none;
}
.Video-SubTitle {
	letter-spacing: normal !important;
}

/*counter*/
.counter-row{position: relative;}

.count-box{
	position: relative;
	text-align: center;
	    margin: 35px 0;
}
.count-box:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    background: #fff;
    bottom: -5px;
    left: 25%;
}
.count-box .count{
	    font-size: 32px;
}


.count-box h3{
	color: #656a6e;
	margin:0;
}



.serv-box{
	padding: 0;
	display: flex;
	height: 229px;
}

.serv-box .white-bg , .serv-box .black-bg , .serv-box .gold-bg {
width: 50%;
}
.serv-box .white-bg{
padding: 15px;
    display: flex;
    flex-wrap: wrap;}
    .serv-box .black-bg{
    	background: #000;
padding: 15px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;

}
.serv-box .gold-bg{
	background: #9e7544; /* Old browsers */
background: -moz-linear-gradient(top, #9e7544 0%, #ebb977 42%, #ebb977 50%, #ebb977 58%, #9e7544 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9e7544 0%,#ebb977 42%,#ebb977 50%,#ebb977 58%,#9e7544 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9e7544 0%,#ebb977 42%,#ebb977 50%,#ebb977 58%,#9e7544 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e7544', endColorstr='#9e7544',GradientType=0 ); /* IE6-9 */
padding: 15px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;

}
.serv-box .gold-bg h4{
margin-bottom: 15px;
}
.serv-box .gold-bg .title-box{
	font-weight: bold;
position: relative;
font-size: 40px;
}
.serv-box .gold-bg .title-box .big{
font-size: 55px;
color: #d1a266;
}

.serv-box .thumb {
   width: 285px;
}

.serv-box .thumb img {

    height: 100%;
}


.sr-box {
    position: relative;
    margin: 10px 0;
    border: solid 1px #cacaca;
    padding: 15px;
    background: #fdfdfd;
}
.sr-box h2 {
    font-size: 26px;
    margin-bottom: 0;
}

.sr-box  .fa {
    position: relative;
    vertical-align: top;
    width: 60px;
}

.sr-box .content {
    position: relative;
    padding-right: 68px;
    margin-top: -20px;
}




.about-box {
	margin-bottom: 25px;
	text-align: justify;
}
.about-box .thumb-1 {
	margin-top: 35px;
}
.thumb-1 img {
	border-bottom: solid 4px #feb812;
}
.thumb-2 {
	margin-top: 35px;
}
.thumb-3 {
	margin: 0px 35px 35px 0;
}
.im-icon{display: inline-block;      vertical-align: middle;}
.search-top{
	position: relative;
}
.search-top .icon{
	font-size: 20px;
}
.search-top p{
	font-size: 18px;
}

.search-top .form-control {
	padding-left: 35px;
	background: #f8f8fa;
	border-radius: 3px;
	border: 0;
}
.form-control-feedback {
    position: absolute;
    top: 12px;
    z-index: 2;
    display: block;
    left: 5px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
/* ---- 3.3 Main menu ------------------ */
.top-menu {
	   background: #d95621;
   	    color: #fff;
	    margin-top: 0;
	    padding: 0;
	    border-top: solid 1px #e9e9e9;
	    border-bottom: solid 1px #000;

}

.top-nav {

}

.icon-s {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon-s i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon-s.social {
	display: inline-block;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#1ea541 ;
	color:#fff;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon-s.social a{color: #fff}
.icon-s.social a:hover{color: #fff}
.icon-s.social:hover {
	background:#e11f2c ;
	color:#fff;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	 	
}
.icon-s.social.fb i {
	left:13px;
	top:10px;
}
.icon-s.social.tw i {
	left:11px;
}
.icon-s.social.in i {
	left:11px;
}
.navbar {
    padding: 0;
}
.top-nav .navbar-nav > li {
	    border-left: solid 1px #e46532;
	position: relative;
	float: left;
	margin-right: 1px;
	padding: 0;
	overflow: hidden;
}
.top-nav .navbar-nav > li:first-child {
	background: none;
}
.top-nav .navbar-nav > li:hover {
	overflow: visible;
}
.top-nav .navbar-nav > li > a:hover i, .top-nav .navbar-nav > li.current > a i, .top-nav .navbar-nav > li.selected > a i {
	margin-top: 5px;
}
.top-nav .navbar-nav > li > a {
	font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	padding: 0 18px !important;
	line-height: 50px;
	margin: 0 ;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	overflow: hidden;
	color: #fff;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;

}
.top-nav .navbar-nav > li > a:hover, .top-nav .navbar-nav > li > a:focus, .top-nav .navbar-nav > li > a:active, .top-nav .navbar-nav > li.active > a {
	color: #000;
	background: #ffffff; 

}
.top-nav .navbar-nav > li > a.selected , .top-nav .navbar-nav > li > a.mPS2id-highlight{
	
	
}
.top-nav .navbar-nav > li > a::after {
 content: "";
 position: absolute;
 left: 0px;
 bottom: 0;
 width: 100%;
 height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9e7544+0,ebb977+42,ebb977+50,ebb977+58,9e7544+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #9e7544 0%, #ebb977 42%, #ebb977 50%, #ebb977 58%, #9e7544 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9e7544 0%,#ebb977 42%,#ebb977 50%,#ebb977 58%,#9e7544 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9e7544 0%,#ebb977 42%,#ebb977 50%,#ebb977 58%,#9e7544 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e7544', endColorstr='#9e7544',GradientType=0 ); /* IE6-9 */
 opacity: 0;
 transform: translateY(5px);
 transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
 pointer-events: none;
 z-index: -1;
}
.top-nav .navbar-nav > li > a:hover::after, .top-nav .navbar-nav > li > a:focus::after {

 opacity: 1;
 -webkit-transform: translateY(0px);
 -moz-transform: translateY(0px);
 transform: translateY(0px);
}
.top-nav .navbar-nav > li > a:hover:before, .top-nav .navbar-nav > li > a:focus:before, .top-nav .navbar-nav > li > a:active:before {
 -webkit-transform: scaleY(1);
 transform: scaleY(1);
}

.top-nav .navbar-nav li ul {
    position: absolute;
    top: 100%;
    z-index: -1;
    min-width: 247px;
    padding-top: 0;
    background: #d95621;
}

.top-nav .navbar-nav > li > ul > li {
	position: relative;
	float: none;
	margin: 0;
	padding: 0;
	line-height: 35px;
	opacity: 0;
	transition: opacity .5s, transform .4s;
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	-webkit-transform: rotateY(90deg);
	-moz-transition: opacity .5s, -moz-transform .4s;
	-ms-transition: opacity .5s, -ms-transform .4s;
	-o-transition: opacity .5s, -o-transform .4s;
	-webkit-transition: opacity .5s, -webkit-transform .4s;
	transform: rotateY(90deg);
}
.top-nav .navbar-nav > li:hover > ul {
	z-index: 0;
	height: auto;
}
.top-nav .navbar-nav > li:hover > ul > li {
	opacity: 1;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
	-webkit-border-radius: 0;
}
.top-nav .navbar-nav li ul li:last-child {

}
.top-nav li li a {
	display: block;
	overflow: hidden;
	padding: 0 15px;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-bottom: solid 1px #fff;
	margin: 0 10px;
}
.top-nav .navbar-nav li ul li:last-child a {
	border: 0;
}
.top-nav li li a:hover, .top-nav li li.selected > a, .top-nav li li.current > a {
	text-decoration: none;
}
.top-nav li > li {
	background-color: rgba(244, 129, 66, 0.9);
	text-transform: capitalize;
}
.top-nav li li a:hover {
	color: #000;
}
/*** sub menu level more than 2 ***/

.top-nav li li li {
	opacity: 0;
	transition: opacity .4s, transform .5s;
	-moz-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-moz-transition: opacity .4s, -moz-transform .5s;
	-ms-transition: opacity .4s, -ms-transform .5s;
	-o-transition: opacity .4s, -o-transform .5s;
	-webkit-transition: opacity .4s, -webkit-transform .5s;
	transform: rotateX(90deg);
}
.top-nav li li > ul {
	height: 0;
	left: 100%;
	top: 0;
}
.top-nav li li:hover > ul {
	height: auto;
}
.top-nav li ul i {
	right: 5px;
	position: absolute;
	top: 40%;
}
.top-nav li li:hover > ul > li {
	opacity: 1;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
@media (min-width: 768px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
}
.navbar-toggler {
    background:#313131 url(../images/mobile-menu.png) no-repeat 94% center;
    padding: 0;
    margin: 0;
    min-height: 20px;
    padding: 10px 28px 10px 6px;
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0;
    z-index: 52;
    color: #FFF;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.mobile-menu-wrapper {
	position: relative;
	width: 100%;
	float: left;
	display: none;
}
#header .mobile-menu-toggle {
	background: #1ea541 url(../images/mobile-menu.png) no-repeat 94% center;
	padding: 0;
	margin: 0;
	min-height: 20px;
	padding: 5px 28px 5px 6px;
	position: relative;
	width: 90%;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 52;
	color: #FFF;
	text-align: center;
	border: 1px solid #1d5782;
	font: 18px/24px "Droid Arabic Kufi", sans-serif;
	display: inline-block;
}
#header .mobile-menu-toggle .icon-bar {
	background: white;
}
/* 3.1.8. Mobile Menu */
#header .mobile-menu {
	background: #1ea541;
	z-index: 5556;
	position: absolute;
	width: 100%;
	top: 50px;
}
#header .mobile-menu a {
	color: #fff;
	display: block;
	padding: 5px 0;
	background: none !important;
}
#header .mobile-menu li.active > a {
	color: #fff;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#header .mobile-menu > ul.menu > li {
	float: none;
	padding-left: 15px;
	padding-right: 15px;
	border-top: 1px solid #12344d;
}
#header .mobile-menu > ul.menu > li:hover {
	background: #fec30f !important;
	color: #000 !important;
	border: none !important;
}
#header .mobile-menu > ul.menu > li > a {
	font-size: 14px;
}
#header .mobile-menu > ul.menu > li > a:hover {
	border: none !important;
}
#header .mobile-menu > ul.menu > li > a {
	font-weight: bold;
}
#header .mobile-menu > ul.menu > li.menu-item-has-children {
	position: relative;
}
#header .mobile-menu > ul.menu > li.menu-item-has-children.open {
	background: #1d5782;
}
#header .mobile-menu > ul.menu > li.menu-item-has-children > .dropdown-toggle {
	position: absolute;
	left: 1px;
	top: -5px;
	height: 44px;
	line-height: 34px;
	padding: 0 15px;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.3333em;
	font-weight: normal;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	margin: 10px;
}
#header .mobile-menu > ul.menu > li.menu-item-has-children > .dropdown-toggle:after {
	content: "\f056";
}
#header .mobile-menu > ul.menu > li.menu-item-has-children > .dropdown-toggle.collapsed:after {
	content: "\f055";
}
#header .mobile-menu > ul.menu > li.menu-item-has-children.open > a {
	color: #fff;
}
#header .mobile-menu > ul.menu > li.menu-item-has-children > ul {
	border-top: 1px solid #1d5782;
}
#header .mobile-menu > ul.menu > li.menu-item-has-children > ul > li > ul {
	padding-right: 10px;
}
#header .mobile-menu > ul.menu > li:first-child > a {
	border-top: none;
}
#header .mobile-menu > ul.menu > li > ul {
/*background: $skin-mobile-menu-color;*/ }
#header .mobile-menu > ul.menu > li > ul li > a {
	padding-right: 15px;
	font-size: 15px;
	position: relative;
	border-top: 1px solid #333;
}
#header .mobile-menu > ul.menu > li > ul li > a:hover {
	background-color: #1f92e7 !important;
}
#header .mobile-menu > ul.menu > li > ul li > a:before {
	font-family: FontAwesome;
	content: "\f111";
	display: block;
	font-size: 4px;
	position: absolute;
	right: 0px;
}
#header .mobile-menu > ul.menu > li > ul li.menu-item-has-children > a {
	padding-left: 0;
	color: #fff;
	font-size: 1.1667em;
	font-weight: 500;
}
#header .mobile-menu > ul.menu > li > ul li.menu-item-has-children > a:before {
	content: "";
	display: none;
}
#header .mobile-menu > ul.menu > li > ul li.menu-item-has-children:last-child > ul {
	border-bottom: none !important;
}
#header .mobile-menu > ul.menu > li li li.menu-item-has-children > a {
	padding-left: 10px;
}
#header .mobile-menu > ul.menu > li li li.menu-item-has-children > a:before {
	display: none;
}
#header .mobile-menu .mobile-topnav {
	margin: 0 auto;
	padding: 0 5px;
}
#header .mobile-menu .mobile-topnav > li {
	float: left;
	position: relative;
	color: #40cbf8;
}
#header .mobile-menu .mobile-topnav > li > a {
	font-size: 0.8333em;
	padding: 0 10px;
	margin: 22px 10px;
	line-height: 1em;
	width: auto;
}
#header .mobile-menu .mobile-topnav > li:after {
	content: "|";
	position: absolute;
	right: -1px;
	top: 50%;
	margin-top: -10px;
}
#header .mobile-menu .mobile-topnav > li:last-child:after {
	display: none;
}
#header .mobile-menu .mobile-topnav > li:first-child a {
	margin-left: 0;
}
.p-10 {
	padding: 0 0 10px 0;
}
.breadcrumbs {
	/*    background: none repeat scroll 0 0 #f5f5f5;*/
	font-size: 11px;
	padding: 7px 0px;
	margin-bottom: 10px;
}
.breadcrumbs ul {
	margin: 0px;
	padding: 0px;
}
.breadcrumbs li {
	display: inline-block;
}
.breadcrumbs a {
	color: #666;
}
.breadcrumbs i {
	color: #ccc;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
}



/*.slider*/

.tp-caption.boxshadow, .boxshadow {
    box-shadow: none !important;
}
.orange-Title {
    color: rgba(255, 255, 255, 1.00);
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
         font-family: "GEDinarOne-Medium",tahoma,sans-serif;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    background-color: rgb(217, 86, 33);
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left;
}
span.big-t {
    font-size: 40px !important;
}
.tp-caption.Video-Title, .Video-Title {
    color: rgba(255, 255, 255, 1.00);
    font-size: 30px;
    line-height: 30px;
    font-weight: 500 !important;
    font-style: normal;
         font-family: "GEDinarOne-Medium",tahoma,sans-serif !important;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    background-color: rgb(217, 86, 33);
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left;
}
.slider{
	position: relative;
}

.slider{
	position: relative;
}

.slider .gyges .tp-tab-image {
width: 38px;
    height: 38px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-top: 10px;
    background-size: 100% 100%;
}

.slider .gyges .tp-tab-content {
        display: flex;
    align-items: center;
        border-left: solid 1px #d95621;
             border-right: solid 1px #d95621;

}

.slider .gyges .tp-tab {
    opacity: 1;
    padding: 15px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}
.slider .gyges .tp-tab-title {
    color: #d95621;
    font-size: 14px;
        text-align: right;
}
.slider  .des {
    padding-top: 3px;
    color: #fff;
}
.slider .gyges .tp-tab:hover, .slider .gyges .tp-tab.selected {
    background: rgb(217, 86, 33) !important;
}
.slider  .tp-tab.selected  .tp-tab-title , .slider  .tp-tab:hover .tp-tab-title{
    color: #fff;
}
.slider   .tp-tabs, .tp-thumbs {
    box-sizing: content-box!important;
    border-bottom: solid 3px #d95621;
    padding: 0 !important;
        width: 100% !important;
}



.box-st1,.box-st2,.box-st3{margin: 15px 0; }
/*box st1*/

.box-st1{position: relative;}
.box-st1 .title{border-bottom:solid 4px #307c42; margin: 0; padding-bottom: 3px;}
.box-st1 .title2{margin: 0; padding: 0 ;}
.box-st1 .thumb{margin: 15px 0 5px; padding: 0 ;}
.box-st1 .thumb img{width: 100%;}

/*box st2*/

.box-st2{position: relative;}
.box-st2 .title{border-bottom:solid 4px #307c42; margin: 0; padding-bottom: 3px;}
.box-st2 .title2{margin: 0; padding: 0 ;}
.box-st2 .box{border-bottom: solid 1px #cacaca; padding: 14px 0;}
.box-st2 .box .time{color: #4ea9d6;}
.box-st2 a{color: #000;}

/*box st3*/

.box-st3{position: relative;}
.box-st3 .title{border-bottom:solid 4px #307c42; margin: 0 0 4px; padding-bottom: 3px;}
.box-st3 .mt-0{margin: 0; padding: 0 ; font-size: 15px; color: #307c42;}
.box-st3 .mr-3 {
    margin-right: 0.5rem !important;
}
.box-st3 .media{border-bottom: solid 1px #cacaca; padding: 10px 0 4px ;}

.about-box{position: relative; margin: 50px 0;}
.about-box h2 {
	font-size: 26px;
    margin-bottom: 0;
}
.about-box .fa{position: relative; vertical-align: top;
       width: 60px;
}
.about-box .content{position: relative;    
 padding-right: 68px;
    margin-top: -20px;
}
.about-box .btn{position: relative; vertical-align: middle; float: right; margin-top: 5px;}

/* member-box*/
.member-box{
	position: relative; 
	color: #fff;
	background: #25aae1;
padding: 15px;
}
.member-box .title{
margin: 0; padding: 0 ;
font-weight: bold;
font-size: 17px;
}

.member-box .icon{
padding: 0 5px;
display: inline-block;
}
.member-box .text{
display: inline-block;	
}
.member-box a{
	color: #fff;
}

.box-form{
    background: rgba(255, 255, 255, 0.92);
    position: absolute;
    z-index: 222;
    top: 0;
    padding: 15px;
    right: 15%;
    width: 400px;
    height: 100%;
}

.box-form-2{
    background: rgba(255, 255, 255, 0.92);
    position: relative !important;
    z-index: 2222;
    top: 0;
    padding: 15px;
    right:0;
    width: 100%;
    height: 100%;
}


.box-form .input-group-append {
    background: #e7e7e7;
    display: flex;
    align-items: center;
        width: 30px;
    justify-content: center;
    padding: 0 5px;
}

.box-form .fa{
	vertical-align: middle;
}
.car-icon{
	background: url("../images/f-car.png") no-repeat center top;
	background-size: 100% 100%;
	width: 24px;
	height: 19px;
}

.date-icon{
	background: url("../images/f-date.png") no-repeat center top;
	background-size: 100% 100%;
	width: 24px;
	height: 23px;
}
.linces-icon{
	background: url("../images/f-linces.png") no-repeat center top;
	background-size: 100% 100%;
	width: 24px;
	height: 17px;
}

.mail-icon{
	background: url("../images/f-mail.png") no-repeat center top;
	background-size: 100% 100%;
	width: 26px;
	height: 17px;
}

.phone-icon{
	background: url("../images/f-phone.png") no-repeat center top;
	background-size: 100% 100%;
	width: 17px;
	height: 28px;
}
.time-icon{
	background: url("../images/f-time.png") no-repeat center top;
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}
.user-icon{
	background: url("../images/f-user.png") no-repeat center top;
	background-size: 100% 100%;
	width: 26px;
	height: 26px;
}




.box-form .title-box1{position: relative;  text-align: center;}

.box-form .title-box1 .inline{display: inline-block;}

.box-form .title-box1 .title1{display: inline-block; font-size: 18px; padding: 5px;}

.box-form .title-box1 .title2{position: relative; color: #fff; font-size: 18px;padding: 5px;}
.box-form .title-box1 .title2:after{
content: "";
  background: #da5722;
position: absolute;
height: 100%;
width: 100%;
top: 0;
right: 0;
z-index: -1;
-moz-transform: skew(-17deg, 0deg);
-webkit-transform: skew(-17deg, 0deg);
-o-transform: skew(-17deg, 0deg);
-ms-transform: skew(-17deg, 0deg);
transform: skew(-17deg, 0deg);
}

/* donation-box*/
.donation-box{
	position: relative; 
	color: #fff;
	background: #4fb962;
padding: 15px;
}
.donation-box a{
	color: #fff;
}
.donation-box .title{
margin: 0; padding: 0 ;
font-weight: bold;
font-size: 19px;
}
.boxes-gut  {
   margin: 65px 0 0;
  }
.boxes-gut  [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }

/* newsletter-box*/
.newsletter-box{
	position: relative; 
	color: #000;
	background: #e2e2e2;
padding: 15px;
}
.newsletter-box .title{
margin: 0; padding: 0 ;
}

.newsletter-box .icon{
position: relative;
margin-top: -45px
}

.newsletter-box .form-control {
    padding: 0.375rem 0.18rem;
}

/*edu-box*/
.edu-box{position: relative; border:solid 1px #cacaca; padding: 0; margin:15px 0; text-align: justify; width: 100%; float: left; max-height: 400px;}
.edu-box .content{ padding: 5px 15px;}
.edu-box .title{border-bottom:solid 4px #307c42; margin: 0; padding-bottom: 3px;}
.edu-box .title2{margin: 0; padding: 0 ;}
.edu-box .thumb{margin: 0 0; padding: 0 ;}
.edu-box .thumb img{width: 100%;}
.edu-box a{color: #25aae1;}
.edu-box a:hover{color: #307c42;}


/*news box*/

.news-box{
   position: relative;
	margin-bottom: 15px;
	 width: 100%;
	 float: left;
}
.news-box .left{
 float: left;
 padding: 0;
  width: 100%;
}
.news-box .left img{
width: 100%;
height: 100%;
    display: block;
}
.news-box .right{
 float: left;
 padding: 0 15px;
 width: 100%;
}

 @media screen and (min-width: 768px) {
.news-box .left{
width: 20%;
}
.news-box .right{
width: 80%;
}
 }
.news-box .title{
 padding: 5px 0;
 margin: 0;
 color: #c44d1d;
}

.news-box  h2{
margin: 0;
}

.news-box .summarytext  p {
    line-height: 1.5em;
    margin-bottom: 1em;
}
.news-box .summarytext strong {
    width: 130px;
    display: inline-block;
}

@media screen and (max-width: 767px) {
.news-box .summarytext strong {
    width: 100%;
    display: inline-block;
}

}


/*about*/
.orange-box{
	color: #fff;
	background: #da5722;
	padding: 25px;
	margin: 15px 0;
}

.grey-box{
	color: #fff;
	background: #4f4f4f;
	padding: 25px;
		margin: 15px 0;
}
.orange-bg{
	color: #fff;
	background: #da5722;
}

.grey-bg{
	color: #fff;
	background: #4f4f4f;

}
.table-st1 th{
	text-align: center !important;
	font-weight: 500;
}




/*contact*/   


.contact-form input[type=text], .contact-form input[type=password], .contact-form input[type=email], .contact-form textarea, .contact-form input[type=file] {
	background: #fff;
	display: inline-block;
	padding: 8px 15px;
	width: 100%;
	line-height: inherit;
	border: 0;
	color: #000;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.block-bg3 .contact-form input[type=text], .block-bg3 .contact-form input[type=email], .contact-form input[type=password], .contact-form input[type=email], .contact-form textarea, .contact-form input[type=file] {
}
.contact-form textarea {
	clear: both;
	width: 100%;
	height: 100px;
	resize: none;
}
.form-input {
	overflow: hidden;
	margin: 0 0 10px 0;
	width: 100%;
}
.form-input label {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0px 0 5px;
	width: 100%;
}
.form-input input:focus, .form-input textarea:focus {
	
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.mac-map {
	float: right;
	background: url("../images/mac3.png") no-repeat center top;
	background-size: 100% 100%;
	width: 100%;
	height: 386px;
	margin: 35px 0px;
	padding: 4% 5%;
}
.form-buttons .btn {
	margin-right: 5px;
}
.contact-form span.red {
	display: inline-block;
	margin-left: 5px;
}
.form-code {
	width: auto;
	float: right;
	margin: 5px 0;
	width: 90%;
}
.form-code input {
	width: 80% !important;
	float: right !important;
	margin-left: 10px;
}
.form-code label {
	width: auto !important;
	float: left;
	line-height: 35px;
}
.contact-form select {
	display: inline-block;
	float: left;
	padding: 10px 15px;
	width: 100%;
	border: 2px #cccbcb solid !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	line-height: 35px;
}
.contact-form input[type=radio], .contact-form input[type=checkbox] {
	position: relative;
	top: 2px;
	margin: 0 5px 0 0;
}
.form-box {
	display: inline-block;
	float: left;
	line-height: 34px;
}
.form-box span {
	display: inline-block;
	margin-right: 15px
}
.contact-form .btn {
	display: inline-block;
	margin:0;
	padding: 5px 11px;
	background: #25bb63 none repeat scroll 0% 0%;
	border-bottom:solid 3px #16974b;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
	cursor: pointer;
	color: #FFF;
}
.contact-form .btn-large {
    padding: 0 42px;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
}
.contact-map {
	background: #fff;
	border: solid 5px #fff;
	float: right;
	width: 100%;
	height: 250px;
	margin: 0 0 35px;
	-webkit-box-shadow: 4px 2px 5px 0px rgba(107,107,107,0.64);
	-moz-box-shadow: 4px 2px 5px 0px rgba(107,107,107,0.64);
	box-shadow: 4px 2px 5px 0px rgba(107,107,107,0.64);
}
.contact-map.google-maps {
	position: relative;
	padding-bottom: 0;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.c-social .social-icons li {
	display: inline-block;
	margin-left: 6px;
	margin-top: 5px;
}
.c-social .social-icons li a {
	font-size: 24px;
	color: #ff651f;
	display: inline-block;
	padding: 3px;
	width: 33px;
	text-align: center;
}
.c-social .social-icons li a:hover {
	color: #49b415;
}
.arab-title {
	font-family: "Droid Arabic Kufi", tahoma, sans-serif !important;
}
.contact-info{position: relative; margin-bottom: 20px;}
.info-box {
	font-size: 14px;
	position: relative;
	margin: 0px 0 15px;
	min-height: 20px;
	width: 100%;
}
.info-box .icon {
	vertical-align: middle;
	display: inline-block;
	padding-right: 15px;
}
.info-box .text {
	vertical-align: middle;
	display: inline-block;
	width: 80%;
	padding-left: 10px;
}
.info-box .icon-map {
	background: url("../images/pin-icon.png") no-repeat center center;
	width: 28px;
	height: 46px;
}
.info-box .icon-phone {
	background: url("../images/phone-icon.png") no-repeat center center;
	width: 32px;
	height: 33px;
}
.info-box .icon-mail {
	background: url("../images/mail-icon.png") no-repeat center center;
	width: 36px;
	height: 34px;
}
.porto-box:hover img {
	opacity: 0.6;
}


/*search box*/

.newsletter h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
.newsletter .form-control {
height: 50px;
background: #fff;
border-color: transparent;
border-radius: 20px 0 0 20px; }
.newsletter .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.newsletter .btn {
	width: 120px;
    min-height: 50px;
    border-radius: 5px 0 0 0 !important;
    background: #243c4f;
    color: #fff;
}


  /*upfooter*/
  .b-box{position: relative;
  	padding: 10px 0;
  	margin-top: 35px;
border-top:solid 1px #cacaca;;
  }
  .fs-box{
  	background: url("../images/fs.png") no-repeat center top;
  	width: 374px;
  	height: 65px;
  	line-height: 65px;
  	padding-left: 140px;
  	padding-right: 15px;
  	color: #fff;
  	overflow: hidden;
  }
    .fs-box h3{
margin: 0; padding: 0;
line-height: inherit;

text-transform: uppercase;
  }

.footer-nav{position: relative;
	    display: flex;
        justify-content: center;
        border-top: solid 1px #cacaca;
        border-bottom: solid 1px #cacaca;
}

.footer-nav .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.footer-nav .navbar-nav {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.footer-nav .nav-link {
    padding: 0 30px;
    color: #000;
}
.footer-nav .nav-link:hover {
    color: #cacaca;
}



/**************footer***********/

.footer {
	width: 100%;
	color: #fff;
	background: #d95621;
	float: left;
	min-height: 50px;
	padding-top: 15px;
	margin: 0;
	font-weight: 400;
	position: relative;
	font-size: 15px;

}

.f-nav{
	display: inline-block;
	    margin: 30px 0;
}

.f-nav li{
	display: inline-block;
}

.f-nav li a{
	padding: 0 10px;
	color: #fff;
}
.g-map iframe {
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 350px;
}

.pay-icons{
	position: relative;
}

.brown{color: #d1a266;}


/*top script*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}




/*home slider*/

.carousel-control-prev {
    left: 20px;
}
.carousel-control-next {
    left: 90px;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: 8%;
        right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .9;
    height: 50px;
    width: 50px;
    background: #1f2830;
}

/*end home slider*/
#social {
  margin: 10px 0;
  text-align: center;
}


.copy-right{margin: 0;}
.footer .nav {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}
.newsletter{margin: 15px 0;}
.footer .nav li {
	display: inline-block;
	padding: 0 8px;
}
.footer .nav > li > a {
	position: relative;
	display: inline-block;
	padding: 3px 5px;
}
.footer .nav > li > a:hover, .nav > li > a:focus {
	color: #8fc802;
	background: transparent;
}
.footer a:hover {
	color: #000;
}
.widget-title {
	font-size: 18px;
	color: #fff;
	position: relative;
	display: block;
	padding: 0 ;
	margin-bottom: 5px;
}
.widget-title2 {
	font-size: 18px;
	color: #000;
	position: relative;
	display: block;
	padding: 10px 10px 5px 0;
	margin-bottom: 15px;
}

.b-nav  {position: relative;}
.b-nav ul {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
        -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
    -moz-column-gap: 5px; /* Firefox */
    column-gap: 5px;
    text-align: left;
}
.b-nav table {border: 0; padding: 0; margin: 0;}
.b-nav table td{border: 0; padding: 0; margin: 0;}
.footer .col-wrap {
	min-height: 60px;
}


.footer .bottom{
	background: #c44d1d;
	padding: 5px 0;
}

.footer .bottom a {
	color: #fff;
	font-weight: 500;
}
.footer .social-icons {
}
.footer .social-icons .title {
	display: inline-block;
	color: #000;
	margin: 0;
}
.footer .social-icons ul {
	display: inline-block;
	margin: 0 5px
}
.footer .social-icons li:first-child {
	margin: 0px;
}
.footer .social-icons li {
	display: inline-block;
	margin-left: 6px;
	margin-top: 5px;
}
.footer .social-icons li a {
	display: inline-block;
	padding: 3px;
	text-align: center;
}
.footer .social-icons li a i {
	display: inline-block;
	font-size: 18px;
	color: #000;
}
.footer .social-icons li a:hover {
	color: #fff;
}
.footer .social-icons li a:hover i {
	color: #8fc802;
}

#social {
  margin: 10px 15px;
  text-align: center;

}


.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border: 0;
    box-shadow: none;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}
.top-head .smGlobalBtn { /* global button class */

 
}
.box-team .smGlobalBtn {
    color: #000;
    font-size: 16px;
    background: transparent;
}



/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #e7b139;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */     
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #e7b139;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #e7b139;
      border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #e7b139;
      border-color: #0094BC;
}


.snapchatBtn:before{
      font-family: "FontAwesome";
      content: "\f2ac";
}

.snapchatBtn:hover{
      color: #e64522;
      background: #e7b139;
      border-color: #e64522;
}

/* pinterest button class*/
.youtubeBtn{
    background: #cb2027;
}

.youtubeBtn:before{
      font-family: "FontAwesome";
      content: "\f167"; /* add youtube icon */
}

.youtubeBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}

/* tumblr button class*/
.instagramBtn{
    background: #3a5876;
}

.instagramBtn:before{
      font-family: "FontAwesome";
      content: "\f16d"; /* add instagram icon */
}

.instagramBtn:hover{
      color: #3a5876;
      background: #fff;
      border-color: #3a5876;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
      color: #e88845;
      background: #fff;
      border-color: #e88845;
}


.phone-box{ position: relative;}
.phone-box i{font-size: 16px;     vertical-align: middle;
    padding: 0 5px;}



/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.carousel {
	margin: 10px 0;
}
.footer-box .carousel {
	margin: 10px 0 25px 0;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	padding: 0;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-controls {
	position: absolute;
	right: 20%;
	bottom: 10%;
}
/* mouse grab icon */
.grabbing {
	cursor: url(../images/grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
.owl-item.loading {
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center;
}
.color-white{color: #fff;}
/*.carousel .prev {
    background: url("../images/left-arrow.png") no-repeat center top;
}

.carousel .next {
    background: url("../images/right-arrow.png") no-repeat center top;
}*/
/*
.carousel .prev,.carousel .prev2 {
    width: 38px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 35%;
    cursor: pointer;
}

.carousel .next,.carousel .next2 {
    width: 38px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 35%;
    cursor: pointer;
}*/

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.ltr{direction: ltr;}

.tm-box{position: relative; color: #fff; text-align: center;}
.tm-box .thumb img{width: auto !important;     display: inline-block;}
/* Downloaded from https://www.codeseek.co/ */
#sync1 .item {
  padding: 10px 0px;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}
#sync2 .item {
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width:768px) {
#sync2 .owl-item{
width: 50px !important;
}
}
#sync2  .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}
#sync2 .owl-item{
width: 50px !important;
    margin: 0 10px;
}
#sync2 .item h1 {
  font-size: 18px;
}
#sync2 .current .item {
}
.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}

.sec-useful-links{position: relative;}

.sec-useful-links h3{color: #24a9e1;    
 font-size: 14px;
        margin-top: 12px;
    line-height: normal; }
.no-margin-bottom{margin-bottom: 0;}


.sp-box{
   position: relative;
    border: solid 1px #cacaca;
	margin-bottom: 15px;
	 width: 100%;
	 float: left;
}
.sp-box .left{
 float: left;
 padding: 0;
  width: 100%;
}
.sp-box .left img{
width: 100%;
height: 100%;
    display: block;
}
.sp-box .right{
 float: left;
 padding: 0 15px;
 width: 100%;
}

 @media screen and (min-width: 768px) {
.sp-box .left{
width: 20%;
}
.sp-box .right{
width: 80%;
}
 }
.sp-box .title{
 padding: 10px 0;
}

.sp-box  h2{
margin: 0;
}

.sp-box .summarytext  p {
    line-height: 1.5em;
    margin-bottom: 1em;
}
.sp-box .summarytext strong {
    width: 130px;
    display: inline-block;
}
.search-bg{background: #409454;
    margin-bottom: 15px;
    padding: 15px;
}

@media screen and (max-width: 767px) {
.sp-box .summarytext strong {
    width: 100%;
    display: inline-block;
}

}
@media screen and (min-width: 767px) {
.coulm2{
	margin: 10px 0;
	 -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~shortcodes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  Unordered lists ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
ul.arrow, ul.triangle, ul.circle, ul.check, ul.chevron, ul.arrow-square, ul.check-square, ul.check-circle, ul.decimal, ul.upper-roman, ul.lower-latin, ul.upper-latin {
}
ul.arrow li.active, ul.arrow li.active:before, ul.arrow.hover li:hover, ul.arrow.hover li:hover:before, ul.triangle li.active, ul.triangle li.active:before, ul.triangle.hover li:hover, ul.triangle.hover li:hover:before, ul.circle li.active, ul.circle li.active:before, ul.circle.hover li:hover, ul.circle.hover li:hover:before, ul.check li.active, ul.check li.active:before, ul.check.hover li:hover, ul.check.hover li:hover:before, ul.chevron li.active, ul.chevron li.active:before, ul.chevron.hover li:hover, ul.chevron.hover li:hover:before, ul.arrow-square li.active, ul.arrow-square li.active:before, ul.arrow-square.hover li:hover, ul.arrow-square.hover li:hover:before, ul.check-square li.active, ul.check-square li.active:before, ul.check-square.hover li:hover, ul.check-square.hover li:hover:before, ul.check-circle li.active, ul.check-circle li.active:before, ul.check-circle.hover li:hover, ul.check-circle.hover li:hover:before, ul.decimal li.active, ul.decimal li.active:before, ul.decimal.hover li:hover, ul.decimal.hover li:hover:before, ul.upper-roman li.active, ul.upper-roman li.active:before, ul.upper-roman.hover li:hover, ul.upper-roman.hover li:hover:before, ul.lower-latin li.active, ul.lower-latin li.active:before, ul.lower-latin.hover li:hover, ul.lower-latin.hover li:hover:before, ul.upper-latin li.active, ul.upper-latin li.active:before, ul.upper-latin.hover li:hover, ul.upper-latin.hover li:hover:before {
	color: #01b7f2;
}
ul.arrow.hover li, ul.triangle.hover li, ul.circle.hover li, ul.check.hover li, ul.chevron.hover li, ul.arrow-square.hover li, ul.check-square.hover li, ul.check-circle.hover li, ul.decimal.hover li, ul.upper-roman.hover li, ul.lower-latin.hover li, ul.upper-latin.hover li {
	cursor: default;
}
ul.arrow, ul.triangle, ul.circle, ul.check, ul.chevron, ul.arrow-square, ul.check-square, ul.check-circle {
	list-style: none;
	padding: 0;
}
ul.arrow li:before, ul.triangle li:before, ul.circle li:before, ul.check li:before, ul.chevron li:before, ul.arrow-square li:before, ul.check-square li:before, ul.check-circle li:before {
	font-family: "FontAwesome";
}
ul.arrow li:before {
	content: "\f178";
	margin-right: 10px;
	color: #01b7f2;
}
ul.triangle li:before {
	content: "\f04b";
	margin-right: 10px;
	color: #d9d9d9;
	display: block;
	float: left;
	font-size: 7px;
}
ul.triangle li.active, ul.triangle li.active:before, ul.triangle.hover li:hover, ul.triangle.hover li:hover .box-title, ul.triangle.hover li:hover:before {
	color: #01b7f2;
}
ul.circle li:before {
	content: "\f111";
	margin-right: 10px;
	color: #000;
	display: block;
	float: left;
	font-size: 8px;
}
ul.circle.bullet-yellow li:before {
	color: #fdb714;
}
ul.circle.bullet-green li:before {
	color: #98ce44;
}
ul.circle.bullet-blue li:before {
	color: #01b7f2;
}
ul.check li:before {
	content: "\e8ba";
	margin-right: 10px;
	color: #98ce44;
	font-family: "soap-icons";
	font-size: 1.3333em;
	line-height: 1em;
}
ul.chevron li {
	padding-left: 20px !important;
	position: relative;
}
ul.chevron li:before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	line-height: 20px;
	content: "\f138";
	color: #000;
	display: block;
	text-align: center;
	font-size: 12px;
}
ul.arrow-square li:before {
	content: "\f178";
	margin-right: 10px;
	color: #000;
	padding: 0 2px 0 3px;
}
ul.decimal {
	counter-reset: item;
}
ul.decimal li:before {
	content: counters(item, ".") "-";
	counter-increment: item;
	margin-right: 5px;
}
ul.upper-roman {
	padding-left: 1.5em;
	list-style: upper-roman outside none;
}
ul.lower-latin {
	padding-left: 1.25em;
	list-style: lower-latin outside none;
}
ul.upper-latin {
	padding-left: 1.5em;
	list-style: upper-latin outside none;
}
/* colored */
ul.upper-roman.bullet-colored li, ul.lower-latin.bullet-colored li, ul.upper-latin.bullet-colored li {
	color: #01b7f2;
}
ul.upper-roman.bullet-colored li > *, ul.lower-latin.bullet-colored li > *, ul.upper-latin.bullet-colored li > * {
	color: #838383;
}
ul.check-square li:before {
	font-family: 'soap-icons';
	content: "\e8ba";
	background: #d9d9d9;
	color: #fff;
	padding: 1px 4px 0;
	margin-right: 10px;
	font-size: 12px;
}
ul.check-square li.active {
	background: #01b7f2;
	color: #fff;
}
ul.check-square li.active > a {
	color: #fff;
}
ul.check-square li.active:before {
	background: #fff;
	color: #fdb714;
}
ul.check-circle li:before {
	content: "\e8ba";
	display: inline-block;
	color: #000;
	margin-right: 10px;
	font-family: "soap-icons";
	vertical-align: baseline;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	-ms-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
}
/* Toggle & Accordion ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.toggle-container {
	background: #fff;
/* 2.8.3. Accordion with image */ }
.toggle-container .panel {
	margin-bottom: 0;
	box-shadow: none;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-ms-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	border: none;
	border-bottom: 2px solid #f5f5f5;
	position: relative;/*.panel-content { font-size: 1.0833em; }*//* 2.8.1. Style1 */
/* 2.8.2. Style2 */ }
.toggle-container .panel:last-child {
	border: none;
}
.toggle-container .panel .panel-title {
	padding: 0;
	color: #2d3e52;
	font-size: 1.1667em;
	position: relative;
}
.toggle-container .panel .panel-title a {
	white-space: normal;
	display: block;
	padding: 15px;
}
.toggle-container .panel h1.panel-title {
	font-size: 2em;
}
.toggle-container .panel h2.panel-title {
	font-size: 1.6667em;
}
.toggle-container .panel h3.panel-title {
	font-size: 1.5em;
}
.toggle-container .panel h4.panel-title {
	font-size: 1.3333em;
}
.toggle-container .panel h5.panel-title {
	font-size: 1.1667em;
}
.toggle-container .panel h6.panel-title {
	font-size: 1em;
}
.toggle-container .panel.style1 .panel-title > a {
	line-height: 24px;
}
.toggle-container .panel.style1 .panel-title > a:before {
	display: block;
	content: "\f068";
	font-family: FontAwesome;
	margin-right: 16px;
	line-height: 24px;
	font-size: 10px;
	float: left;
	width: 24px;
	height: 24px;
	text-align: center;
	color: #9e9e9e;
	background: #f5f5f5;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	-ms-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}
.toggle-container .panel.style1 .panel-title > a.collapsed:before {
	content: "\f067";
	color: #fff;
	background: #01b7f2;
}
.toggle-container .panel.style1 .panel-content {
	padding: 10px 15px 15px 55px;
}
.toggle-container .panel.style1.arrow-right .panel-title {
	position: relative;
}
.toggle-container .panel.style1.arrow-right .panel-title > a {
	padding-right: 36px;
}
.toggle-container .panel.style1.arrow-right .panel-title > a:before {
	float: none;
	position: absolute;
	right: 0;
	height: 16px;
	line-height: 17px;
	width: 16px;
	font-size: 9px;
	border: none;
	margin-top: -8px;
	top: 50%;
}
.toggle-container .panel.style1.arrow-right .panel-content {
	padding: 10px 15px;
}
.toggle-container .panel.style2 .panel-title {
	padding: 0;
}
.toggle-container .panel.style2 .panel-title > a {
	display: block;
	line-height: normal;
	padding: 15px 20px;
	color: #01b7f2;
}
.toggle-container .panel.style2 .panel-title > a.collapsed {
	color: inherit;
	position: relative;
}
.toggle-container .panel.style2 .panel-title > a.collapsed:hover {
	color: #01b7f2;
}
.toggle-container .panel.style2 .panel-title > a:after {
	content: "\f068";
	font-family: FontAwesome;
	font-size: 10px;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	right: 15px;
	bottom: 0;
	color: #9e9e9e;
	background: #f5f5f5;
	text-align: center;
	line-height: 30px;
}
.toggle-container .panel.style2 .panel-title > a.collapsed:after {
	content: "\f067";
	color: #fff;
	background: #01b7f2;
}
.toggle-container .panel.style2 .panel-content {
	padding: 0 15px 30px 20px;
}
.toggle-container.with-image > .image-container {
	background: #01b7f2;
}
.toggle-container.with-image > .image-container > img {
	width: 100%;
	height: auto;
}
.toggle-container.with-image .panel > img {
	display: none;
}
.toggle-container.with-image .panel-title > a {
	color: #01b7f2;
}
.toggle-container.with-image .panel-title > a.collapsed {
	color: inherit;
}
.toggle-container.with-image .panel-title > a.collapsed:hover {
	color: #01b7f2;
}

/* 2.9. Tabs pills ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.tab-pills .nav-link {
display: block;
    padding: .5rem 1rem;
    font-size: 22px;
    /* background: #ececec; */
    color: #000;
    text-align: center;
    min-width: 200px;
    margin: 0 5px;
    border: solid 1px #cacaca;
}
.tab-pills .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #d95621;
}

/* 2.9. Tabs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.tab-wrapper {
	background: #fff;
}
.tab-container {
	width: 100%;
	margin: 25px 0;
}
.tab-wrapper .tab-container .tab-content .tab-pane {
	padding-left: 0;
	padding-right: 0;
}
/*.tab-pane [class^="col-"], .tab-pane [class*=" col-"] {
  padding-left: 10px;
  padding-right: 10px; }*/
.tab-pane .row {
	margin-top: 0;
	margin-left: -10px;
	margin-right: -10px;
}
.tab-container ul.tabs {
	margin: 0;
	padding: 0;
}
.tab-container ul.tabs li {
	position: relative;
}
.tab-container ul.tabs li:last-child {
	padding-right: 0;
}
.tab-container ul.tabs li a {
	color: #000;
	display: block;
	padding: 0 25px;
	font-size: 1em;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	white-space: nowrap;
}
.tab-container ul.tabs.full-width {
	display: block;
/*margin-bottom: -4px;*/ }
.tab-container ul.tabs.full-width li {
	/*float: lef;*/
	display: inline-block;
	vertical-align: middle;/*width: 1%;*/
}
.tab-container ul.tabs.full-width li a {
	padding: 0;
	text-align: center;
}
.tab-container ul.tabs:after {
	display: table;
	content: "";
	clear: both;
}
.tab-container .tab-content {
	padding: 10px 15px;
	margin: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.tab-container .tab-content .tab-pane {
	padding: 0;
	line-height: 1.7em;
}
.tab-container .tab-content .tab-pane .row {
	margin-bottom: 15px;/*border-top: 1px solid #f5f5f5; padding: 20px 0;
&:first-child { border: none; padding-top: 0; }
&:last-child { padding-bottom: 0; }*/
}
.tab-container.style1 ul.tabs {
	display: table;
	margin: 0px auto;
	padding: 5px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.tab-container.style1 ul.tabs li {
	position: relative;
}
.tab-container.style1 ul.tabs li:first-child a {
	-webkit-border-radius: 0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius: 0;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.tab-container.style1 ul.tabs li:last-child a {
	-webkit-border-radius: 10px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.tab-container.style1 ul.tabs li a {
	background: #fff;
	line-height: normal;
	padding: 10px 20px;
	color: #000;
	font-size: 18px;
	font-weight: 500;
	border-left: 1px solid #000;
	margin: 10px 0;
	min-width: 180px;
}
.tab-container ul.tabs li.active > a, .tab-container ul.tabs li:hover > a {
	background: #8fc800;
}
.tab-container.style1 ul.tabs li:first-child a {
	border-left: 0;
}
.tab-container.style1 ul.tabs li.active {
	position: relative;
}
.tab-container.style1 ul.tabs li:hover > a {
}
.bg-1 {
	background: url(../images/top-bg.png) repeat center top;
}
/*dsfsdf*/
/*.tab-container.style1 ul.tabs li> a::after {
position: absolute;
bottom: 1px;
left: 50%;
margin-left: -12px;
border-top: 10px solid #fff;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
content: "";
}*/
.tab-container.style1 ul.tabs li > a:hover::after, .tab-container.style1 ul.tabs li > a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.tab-container.style1 ul.tabs li > a:hover:before, .tab-container.style1 ul.tabs li > a:focus:before, .tab-container.style1 ul.tabs li > a:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}
/*end dsfsdf*/

.tab-container.style1 ul.tabs li.active > a:after {
	position: absolute;
	bottom: 1px;
	left: 50%;
	margin-left: -12px;
	border-top: 10px solid #8fc802;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	content: "";
}
/*.tab-container.style1 ul.tabs li.active > a:after, .tab-container.style1 ul.tabs li:hover > a:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	border-bottom:solid 2px #c62025;
	width: 50%;
	
}*/

.tab-container.style1 ul.tabs li.active:hover > a:after {
	display: block;
}
.block-list {
	margin-bottom: 10px
}
.block-list ul {
	-moz-column-count: 4;
	-moz-column-gap: 15px;
	-webkit-column-count: 4;
	-webkit-column-gap: 15px;
	column-count: 4;
	column-gap: 15px;
}
.block-list ul li {
	position: relative;
	padding-right: 65px;
	min-height: 29px;
}
.block-list ul.arrow-img li:before {
	background: url("../images/list-arrow.jpg") no-repeat center bottom;
	margin-right: 10px;
	color: #1a4080;
	display: block;
	float: left;
	font-size: 8px;
	position: absolute;
	right: 0;
	content: "";
	width: 24px;
	height: 29px;
}
/*porto box*/
.box-shadow .box {
	-webkit-box-shadow: 4px 2px 5px 0px rgba(107,107,107,0.64);
	-moz-box-shadow: 4px 2px 5px 0px rgba(107,107,107,0.64);
	box-shadow: 4px 2px 5px 0px rgba(107,107,107,0.64);
}
#portfolio-list {
	margin-bottom: 5px;
}
.port-box {
	position: relative;
	padding: 10px;
	overflow: hidden;
}
#portfolio-list .box {
	position: relative;
	overflow: hidden;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#portfolio-list .wrap {
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
}
#portfolio-list .box img {
	width: 100%;
	display: block;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	-ms-transition: all 0.75s;
	-o-transition: all 0.75s;
	transition: all 0.75s;
}
#portfolio-list .box:hover img {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
}
#portfolio-list .box .portfolio-item-content {
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: #fff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	padding: 15px;
	    display: flex;
    align-items: center;
}
#portfolio-list .box .portfolio-item-content .logo-icon{
	display: inline-block;
	background: url("../images/logo-icon.png") no-repeat center center;
	background-size: 100%;
	width: 72px;
	height: 56px;
}
#portfolio-list .portfolio-item-content {
	background: rgba(197, 16, 29, 0.79) none repeat scroll 0% 0%;
}
.portfolio-item-content .down {
	width: 100%;
	margin: 0 auto;
}
.portfolio-item-content .icon-price {
	background: url("../images/price-icon.png") no-repeat center top;
	width: 27px;
	height: 21px;
	display: inline-block;
	vertical-align: sub;
}
.portfolio-item-content .title {
	margin-bottom: 6px;
	padding: 0;
	color: #fff;
	display: none;
}
.portfolio-item-content .btn {
	padding: 0 29%;
}
#portfolio-list .box .more {
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	display: inline-block;
	content: "i";
	font-size: 50px;
	font-style: normal;
	font-weight: 100;
	line-height: 76px;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -40px;
	height: 80px;
	width: 80px;
	color: #fff;
	background: #000;
	border: 2px solid #fff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
#portfolio-list .box:hover .portfolio-item-content {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
}
#portfolio-list .box:hover .more {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	top: 40%;
	line-height: 70px;
	margin-top: -40px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
@media (min-width: 992px) {
#portfolio-list .box:hover .more {
	top: 40%;
	margin-top: 0;
}
}
#portfolio-list .box:hover .more:hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	color: #556270;
	border-color: #fff;
	background: #fff;
}

.no-margin {
	margin: 0px !important;
}
.news-wrapper {
	margin: 0px auto;
	max-width: 949px;
}
.block-bg {
	margin: 15px 0 0;
	position: relative;
	display: block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 20px 0;
}
.block-2 {
	color: #000;
	min-height: 400px;
	margin-top: 45px;
	position: relative;
	display: block;
	background: #f2f2f2;
	padding: 40px 0;
}
.block-3 {
position: relative;
padding: 40px 0;
}
.block-test{
	color: #fff;
	background: #e82532 url("../images/block-bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
padding: 50px 0;
    margin-top: 25px;
}
.block-4 {
	background: #e82532 url("../images/block-contact-en.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
position: relative;
padding: 40px 0;
color: #fff;
min-height: 200px;
}
.block-4  .title {
	color: #fff;
}
.block-5 {
position: relative;
padding: 40px 0;
}
.block-5  [class^="col-"], .block-5  [class*=" col-"] {
  padding: 0;
}

.block-bg .title {
	color: #fff;
}
.block-bg i {
	padding: 0 5px;
}
.box1 {
	margin: 10px 0;
}
.hero-img {
	padding: 20% 0;
	position: relative;
	margin-bottom: 40px;
}
.hero-img:after {
content: "";
background:  url("../images/pat1.png") repeat-x center top;
width: 100%;
height: 26px;
position: absolute;
bottom: 0;
}
.hero1 {
	background: #f5f5f5 url("../images/hero1-en.jpg");
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: content-box;
	    margin-top: 160px;
}

.hero-img .title {
	color: #fff;
	font-size: 38px;
	padding: 10%;
}
.hero-img img {
	width: 100%;
	max-width: 100%;
	position: relative;
	min-height: 120px;
}
.block-bg3 .info {
	margin: 10px 0;
}
.block-bg3 .info li {
	padding-bottom: 15px;
	font-size: 16px;
	line-height: 28px;
}
.block-pages-bg {
	position: relative;
	display: block;
	background-size: 100% 100%;
	margin-bottom: 0;
	max-height: 283px;
	overflow: hidden;
}
/* Featured Title
-------------------------------------------------------------- */
#featured-title { position: relative;}

#featured-title  .overlay{ 
position: absolute;
    background: rgba(0, 0, 0, 0.62);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#featured-title-inner { padding-top: 40px; padding-bottom: 40px; }
#featured-title .featured-title-inner-wrap {display: block;width: 100%;text-align: center;}


#featured-title .featured-title-heading-wrap::before {
    border-bottom: 1px solid;
    border-bottom-color: #ffffff;
    content: "";
    position: absolute;
    width: 40%;
    left: 35%;
    top: 100%;
}
#featured-title .featured-title-heading-wrap::after {
    border-bottom: 1px solid;
    border-bottom-color: #ffffff;
    content: "";
    position: absolute;
    width: 70%;
    left: 20%;
    top: 110%;
}
#featured-title .featured-title-heading-wrap {display: inline-block;text-align: center;vertical-align: middle; position: relative;}
#featured-title .featured-title-heading {color: #fff;font-size: 36px;line-height: 60px;letter-spacing: 0;/* display: inline-block; */} 

#featured-title #breadcrumbs {display: block;text-align: center;color: #fff;vertical-align: middle;width: 100%;}

.text-box {
	position: relative;
	padding: 10px 0;
}
.text-box h2 {
	margin: 0;
}
.text-box small {
	margin-bottom: 15px;
	color: #85a0d3;
}
.pub-box {
	padding: 10px 10px 10px 50px;
	position: relative;
	background: url("../images/book-icon.jpg") no-repeat left top;
	border: solid 1px #cacaca;
	margin-bottom: 15px;
}
.pub-box a {
	color: #000;
	display: inline-block;
}
.pub-box a:hover {
	color: #f7b322;
}
.service-box {
	margin: 10px 0;
	padding: 10px;
	position: relative;
	text-align: center;
}
.service-box .title {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	color: #062b60;
}
.service-box .image {
	margin: 5px 0;
	min-height: 122px;
}
.service-box .image img {
	min-height: 200px;
	max-height: 200px;
	border-bottom: solid 4px #feb812;
	overflow: hidden;
}
 @media screen and (min-width:1200px) {
.p-35 {
	padding: 45px;
}
.service-box .image img {
	min-height: 180px;
	max-height: 180px;
	overflow: hidden;
}
}
.service-box .btn {
	margin: 10px;
}
.service-box:hover .image img {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
}
.service-box .image {
	overflow: hidden;
}
.service-box .image img {
	width: 100%;
	display: block;
	position: relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.img-border {
	border: solid 4px #fff;
}
.img-scale {
	overflow: hidden;
}
.img-scale img {
	width: 100%;
	display: block;
	position: relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.img-scale:hover img {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
}
.entry:hover .img-scale img {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
}
.entry .img-scale {
	overflow: hidden;
}
.entry .img-scale img {
	width: 100%;
	display: block;
	position: relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
/*buttons*/
.btn {
	display: inline-block;
	margin-bottom: 0;
	padding: 0 18px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
	cursor: pointer;
	color: #fff !important;
	border-radius: 0;
	background: #616161;
}
.btn i {
	margin-right: 5px;
}
.btn-wraper {
	width: 100%;
	text-align: center;
	float: left;
	margin: 10px 0;
}
.btn-nobg {
	color: #1d5782;
}
.btn-nobg-big {
	font-size: 24px;
	display: table-cell;
	margin: 0 auto;
	text-align: center;
	width: 1%;
	padding: 25px 0;
}
.btn:hover {
	background-color: #c44d1d;
	color: #fff !important;
}
.btn-tiny {
	padding: 0 4px;
	font-size: 9px;
	line-height: 27px;
}
.btn-small {
	padding: 0 10px;
	font-size: 11px;
	line-height: 33px;
}
.btn-medium {
	padding: 3px 22px;
	font-size: 16px;
	line-height: 32px;
}
.btn-large {
	padding: 0 40px;
	font-size: 15px;
	line-height: 34px;
	font-weight: 600;
}
.btn-gr {
	font-size: 20px;
	margin-bottom: 0;
	padding: 7px 14px;
	margin: 15px 0;
	line-height: 30px;
	display: inline-block;
	cursor: pointer;
	color: #204583 !important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0d0d0+0,f1f1f1+50,e1e1e1+51,d0d0d0+100 */
	background: #d0d0d0; /* Old browsers */
	background: -moz-linear-gradient(top, #d0d0d0 0%, #f1f1f1 50%, #e1e1e1 51%, #d0d0d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #d0d0d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d0d0d0 0%, #f1f1f1 50%, #e1e1e1 51%, #d0d0d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d0d0d0 0%, #f1f1f1 50%, #e1e1e1 51%, #d0d0d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d0d0d0 0%, #f1f1f1 50%, #e1e1e1 51%, #d0d0d0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d0d0d0 0%, #f1f1f1 50%, #e1e1e1 51%, #d0d0d0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#d0d0d0', GradientType=0 ); /* IE6-9 */
}
.btn-gr:hover {
	color: #6ab401 !important;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-warning {
    color: #111;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-orange {    background-color: #da5722;}

/*accrdion*/
.panel-default > .panel-heading {
	color: #000;
	background-color: #fff;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #cacaca;
	background: #fff;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: #062b60;
}
.panel-heading .accordion-toggle h4:after {
	/* symbol for "opening" panels */
	font-family: 'FontAwesome';
	content: "\f056";
	float: right;
	color: #062b60;
	overflow: no-display;
}
.panel-heading .accordion-toggle.collapsed h4:after {
	/* symbol for "collapsed" panels */
	content: "\f055";
}
a.accordion-toggle {
	text-decoration: none;
	color: #fff;
}
.panel-default {
	border-color: #cacaca;
}
/*model popup*/
.modal {
	z-index: 10555;
}
.modal-content {
	position: relative;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0px none;
}
.form-horizontal .control-label {
	text-transform: capitalize;
}
.modal-content .btn {
	margin: 0px;
}
.main-title {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	margin-top: 25px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
/*.main-title::after {
    border-bottom: 1px solid;
    border-bottom-color: #757575;
    content: "";
    position: absolute;
    width: 70%;
    left: 20%;
    top: 100%;
}
.main-title::before {
	border-bottom: 1px solid;
	border-bottom-color: #757575;
	content: "";
	position: absolute;
	width: 40%;
	left: 35%;
	top: 90%;
}*/
.main-title .title {
	color: #c6985f;
	display: inline-block;
	font-size: 28px;
	font-weight: 200;
	text-transform: capitalize;
	padding: 0 15px;
	margin: 0;
}
.main-title .small {
	font-size: 14px;
	color: #c6985f;
	clear: both;
	width: 100%;
	padding: 5px 0;
	display: block;
	line-height: normal;
}


.main-title2 {
	display:block;
margin: 25px 0
}
.main-title2  h2 {

	padding: 0;
	margin: 0;
}
.main-title2 .small {
	font-size: 14px;
	color: #000;
	clear: both;
	width: 100%;
	padding: 0 0 5px;
	display: block;
	line-height: normal;
}

.block-text {
	margin-bottom: 20px;
}
.s-box{margin: 0 0 30px;}
/*********************************************
 Custom slider options
**********************************************/

.tp-banner-container {
	position: relative;
	padding: 0;
	width: 100%;
	/*height: 300px !important;*/
	z-index: 0;
	margin-top: 0;
	margin-bottom: 35px;
}
.tb-boxed {
	position: relative;
	z-index: 1;
	padding: 5px;
	width: 1100px !important;
	margin: 0 auto 25px;
	background: #fff;
	border: 1px solid #cacaca;
}
.tb-boxed:after {
	content: "";
	position: absolute;
	z-index: -5;
	width: 1100px !important;
	margin: 0 auto;
	background: url(../images/shadow1.png) center top;
	background-size: 100%;
	bottom: -62px;
	height: 63px;
}
.tp-banner {
	position: relative;
	width: 100%;
}
.tp-caption {
	line-height: normal !important
}
.tp-caption a {
	color: inherit !important;
}
.grey_regular_18 {
	line-height: 22px !important;
	height: 250px;
	text-align: center;
}
.grey_regular_18 h1 {
	line-height: 48px;
}
.grey_regular_18 p {
	margin-bottom: 15px;
}
.grey_regular_18 .btn {
	background: #ff651f;
	color: #fff !important;
	font-size: 18px;
	padding: 10px 25px;
}
 @-webkit-keyframes bounce {
 0% {
 transform:translateY(0%);
}
 50% {
 transform:translateY(-30%);
}
 100% {
 transform:translateY(0);
}
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
 0% {
 transform:translateY(0%);
}
 50% {
 transform:translateY(-30%);
}
 100% {
 transform:translateY(0);
}
}

/* Opera 12.0 */
@-o-keyframes bounce {
 0% {
 transform:translateY(0%);
}
 50% {
 transform:translateY(-30%);
}
 100% {
 transform:translateY(0);
}
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
 0% {
 transform:translateY(0%);
}
 50% {
 transform:translateY(-30%);
}
 100% {
 transform:translateY(0);
}
}

.icon-box{
	background: #fcfcfc;
	border:solid 1px #dbdbdb;
	position: relative;
	margin: 15px 0;
	padding: 15px;
	border-radius: 5px;
	min-height: 210px;

}
.service-block .icon-box{/*min-height: 300px;*/}
.icon-box h3{
    font-size: 18px;
    font-weight: 600;
    color: #797979;
    padding-right: 70px;
    position: relative;
    padding-top: 10px;
    line-height: 28px;
    vertical-align: bottom;

}

.icon-box i{
	position: absolute;
	right: 0;
	top: 0;
	
}
.icon-box .title{
	margin: 5px 0 0;
}
.a-member a{
	color: #000 ;
}
.a-member a:hover{
	color: #25aae1;
}
.counter-row{
	position: relative;
	background: #d95621;
	    padding: 0;
}

.counter-row .col-12{
border-left: solid 1px #e27c53;
}

.counter-row .row .col-12:last-child {
border-left: 0 ;
}
 .counter-row  .row .col-12:first-child{
border-right: 0 ;
}

.title-orange{
	background: #da5722;
	display: inline-block;
	padding: 20px 30px;
	margin-bottom: 30px;
	color: #fff;
}


.count-box{
	position: relative;
	text-align: center;
	margin: 15px 0;
}
.count-box .count{
	color: #fff;
	    font-size: 32px;
}


.count-box h3{
	color: #fff;
	margin:0;
	    margin-bottom: 20px;
}

.news-block{padding: 30px 0;}

.box-team{
	background: #f6f6f6;
	position: relative;
	margin-bottom: 15px;
	text-align: center;
}

.box-team .title{
margin: 0;
font-size: 14px;
}

.box-team .small{
color: #8a8b8f;
font-weight: bold;
margin: 0;
}

.box-team .content{
	padding: 10px 0;
border-top: solid 1px #cacaca;
border-bottom: solid 1px #cacaca;
}



/********
****profile
**********/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}


/**************responsive*************/



@media screen and (min-width:992px) and (max-width:1200px) {
.top-nav .navbar-nav > li > a {
	font-size: 15px;
	padding: 0 10px;
}
.top-nav .navbar-nav > li > a {
	min-width: 100px;
	padding: 5px 5px;
	font-size: 14px;
	    line-height: normal;
}
.phone-box {
    font-size: 14px;
}
	.widget-r {
    padding: 0;
}
}
@media screen and (max-width:992px) {
	.widget-r {
    padding: 0;
}
.icon-box h3 {
    padding: 0;
}
.icon-box i {
    position: relative;

}
.hero-img {
    margin-bottom: 0;
}
.top-bar {
	text-align: center;
	 padding-top: 5px;
	 padding-bottom: 5px;
	     padding-left: 3%;
}

.sub-box {
    padding: 10px;
}
.social-icons{
	    display: inline-block;
    width: 100%;
    text-align: center;
        margin: 5px 0;
}

.phone-box {
    font-size: 16px;
    margin: 3px 0;
}
.box-st3 .media {
text-align: center;
overflow: hidden;
    display: block;
}
.newsletter-box{margin-top: 40px;}
.box-st1,.box-st2,.box-st3{margin: 10px 0; text-align: center;}
.top-menu:before {
    width: 200%;
    right: -50%;
 
}
.icon-box {
    text-align: center;
}
.icon-box h3 {
    font-size: 18px ;
    font-weight: 600;
    color: #797979;
}
.icon-box i{
       width: 100%;
}

}
 @media screen and (min-width:768px) and (max-width:992px) {
 	.top-bar {
    color: #000;
    font-size: 12px;
    position: absolute;
    right: 5%;
    top: 5%;

}
 	.p-5 {
    padding: 0 15px;
}
.top-menu {
	margin-bottom: 0;
}
.top-nav {
	border: 0;
}
.top-menu {
	margin-top: 2%;
}
.top-nav {
	float: none !important;
	text-align: center;
	margin: 0 auto;
	display: block;
}
.block-bg3 .pull-right {
	float: none !important;
}
.block-bg3 .contact-form {
	text-align: center;
}
header.top-head .logo {
	
	text-align: center;
}
.top-nav .navbar-nav > li > a {
min-width: auto;
    padding: 5px 15px !important;
    font-size: 14px;
        line-height: normal;
}
.top-bar .pull-right {
	float: none !important;
}

}

/*tablet*/
@media screen and (max-width:767px) {
	h1, .h1 {
    font-size: 26px;
}


	.top-bar {
    font-size: 12px;
    position: relative;
    right: 0;
    margin-top: 10px;
}

.social p {
    display: block !important;
}

#social {
    text-align: center !important;
        margin: 0;
}

.top-nav .navbar-nav > li > a {
    line-height: 30px;
    }
.search-box {
    margin: 15px 0;
}
	.top-menu:before {
display: none;
}
	.top-po {
    position: relative;
    width: 100%;
}
.float-left,.float-right{
	float: none !important;
}
.box-st1,.box-st2,.box-st3{margin: 10px 0;}
	.navbar-collapse {
background: #313131;
}
.newsletter-box .icon {
    margin-top: 0;
}
.top-nav .navbar-nav > li > a {
    border-top: solid 1px #c7c7c7;
}
.top-nav .navbar-nav > li:first-child > a {
    border-top:0;
}

.navbar {
    min-height: 20px;
        margin-bottom: 5px;
}
.fixed-header .logo {
display: none;
}
.fixed-header .social-icons {
display: none;	
}
	h3, .h3 {
    font-size: 16px;
}
	.p-5 {
    padding: 0 15px;
}
	.main-title .title , .main-title2 .title {
    font-size: 22px;

}
	.top-bar {
           padding:0;
}
.top-bar .top-lang-menu {
	clear: both;
}
.icon-box .icon-bg {
	width: 50%;
	margin: auto;
}
header.top-head .logo {
	float: none !important;
	margin: 0;
}
.pull-right, .pull-left {
	float: none !important;
}
.container {
	text-align: center;
}
.mobile-menu-wrapper {
	display: inline-block;
	margin-bottom: 5px;
}

.top-menu {
	float: right !important;
	position: relative;
	width: 100%;
	top: 0;
	float: right;
	margin: 0;
}
header.top-head .logo {
	float: left;
	position: relative;
	z-index: 1;
	background: rgba(255, 255, 255, 0.80);
}
.serv-box .white-bg, .serv-box .black-bg, .serv-box .gold-bg {
    width: 100%;
}
.serv-box .thumb {
    width: inherit;
}
#toTop {
	width: 51px;
	height: 51px;
}
.fs-box {

background-size: 100% 100%;
    margin: auto;
height: auto;
width: auto;	
padding: 0;
}

.fs-box h3 {
    margin: 0;
    padding: 0;
    line-height: inherit;
    text-transform: uppercase;
    line-height: normal;
}
.footer-nav .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: column;
}
.box-form {
    background: rgba(255, 255, 255, 0.92);
    position: relative;
    z-index: 2222;
    top: 0;
    padding: 15px;
    right: 0;
    width: 100%;
    height: 100%;
}
.lang-title{width: 100%;}
}

/*mobile*/
@media screen and (max-width: 480px) {
.portfolio-item-content h3, .portfolio-item-content .h3 {
    font-size: 12px;
}
.fs-box {
	background: #25aae1;

}	
}
 @media screen and (max-width: 323px) {
 	.port-box {
    width: 100%;
}

.b-nav ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    text-align: center;
}
}
.wow {
	visibility: hidden;
}

/*accordion*/
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
        margin: 10px 0;
    }

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-radius: 15px;
    border: solid 1px #cacaac;
    padding: 15px;
    font-size: 18px;
        line-height: 34px;
    }

i.more-less {
    vertical-align: middle;
    width: 30px;
    padding-top: 5px;
}