body{
	direction: rtl;
}
.slider{
	direction: ltr !important;
}
ul.circle li::before{
	margin-right: 10px;

float: left;
}
.about-box .content{
	margin-top: 20px;
}

.about-box .fa {

    position: relative;
    vertical-align: middle;
    width: 60px;
    float: left;
    margin-top: -20px;

}
.map-full {
    position: fixed !important;
    width: 100%;
    height: 100%;
}
.notealert {
     
            border: 2px solid #000;
        padding: 5px;
        font-size: 18px;
        color: red;
    }
body {
	position: relative;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
     font-family: "new-sans",tahoma,sans-serif;
	-webkit-font-smoothing: antialiased;
	transition: margin-right 0.2s linear 0s;
	direction: ltr;
}
.input-group .form-control, .input-group-addon, .input-group-btn{
	direction:ltr;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
        font-family: "new-sans",tahoma,sans-serif;
}
.fa-phone{
  transform: rotate(-95deg);
}
#return-to-top i {
    left: -15px;
}
.top-nav .navbar-nav > li:last-child {
border-left: 0;
}
.top-nav .navbar-nav > li > a{
        font-family: "new-sans",tahoma,sans-serif;
}
#return-to-top i {
left: auto !important;
    right: -15px !important;

}