body {
	position: relative;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
     font-family: 'Segoe UI', Tahoma,sans-serif;
	-webkit-font-smoothing: antialiased;
	transition: margin-right 0.2s linear 0s;
	direction: rtl;
}
.input-group .form-control, .input-group-addon, .input-group-btn{
	direction:rtl;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
        font-family: "GEDinarOne-Medium",tahoma,sans-serif;
}
.notealert {
        direction: rtl;
            border: 2px solid #000;
        padding: 5px;
        font-size: 18px;
        color: red;
    }
.fa-phone{
  transform: rotate(-95deg);
}
#return-to-top i {
    left: -15px;
}
.top-nav .navbar-nav > li:last-child {
border-left: 0;
}
.top-nav .navbar-nav > li > a{
        font-family: "GEDinarOne-Medium",tahoma,sans-serif;
}
h2{font-size: 32px;}
.slider .gyges .tp-tab-content {
    padding: 15px 85px 15px 15px;

}
.slider .gyges .tp-tab-title {

        text-align: right;
}
.about-box .btn{float: left;}

.nav-top li {
    border-right: 0;
    border-left: solid 1px #cacaca;
}
.nav-top li:last-child {
    border-left: 0;
}
.pull-right {
    float: left;
}
.pull-left {
    float: right;
}
.float-right {
    float: left!important;
}
.float-left {
    float: right!important;
}
.box-st3 .mr-3 {
    margin-left: 0.5rem !important;
    margin-right:0 !important;
}
.mr-3, .mx-3 {
    margin-right: 0!important;
     margin-left: 1rem!important;
}

.form-control {
    font-size: 0.8rem;
    /*height: calc(2.25rem + 2px);*/
}

.btn {

    font-size: 14px;
}


ul.circle li:before {
  margin-left: 10px;
  float: right;

}
ul.triangle li:before {
  margin-left: 10px;
  float: right;
      -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.un-box .inline{
  padding-left: 15px;
  padding-right: 0;
}
.custom-select {
    padding: .375rem .75rem .375rem 1.75rem;
        background-position: 10px center;
}
#custom-search-input button{
    border-right: solid 1px #ccc;
    border-left: 0;
}
#custom-search-input button:hover{
    border-right: solid 1px #ccc;
    border-left: 0;
}
.border-r{ 
  border-right:solid 1px #cacaca;
  border-left:solid 0;
}
/*bootstrap rtl*/

.rtl {
  direction: rtl;
  text-align: right;
}
.rtl {
  direction: rtl;
  text-align: right;
}

.rtl .nav {
  padding-right: 0;
}

.rtl .navbar-nav .nav-item {
  float: right;
}

.rtl .navbar-nav .nav-item + .nav-item {
  margin-right: 1rem;
  margin-left: inherit;
}

.rtl th {
  text-align: right;
}

.rtl .dropdown-menu {
  text-align: right;
}

.rtl .checkbox label {
  padding-right: 1.25rem;
  padding-left: inherit;
}

.rtl .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0 .2rem .2rem 0;
}

.rtl .btn-group > .btn:last-child:not(:first-child),
.rtl .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: .2rem 0 0 .2rem;
}

.rtl .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-radius: .2rem 0 0 .2rem;
}

.rtl .custom-control {
  padding-right: 1.5rem;
  padding-left: inherit;
  margin-right: inherit;
  margin-left: 1rem;
}

.rtl .custom-control-indicator {
  right: 0;
  left: inherit;
}

.rtl .custom-file-control::before {
  right: inherit;
  left: -1px;
  border-radius: .25rem 0 0 .25rem;
}

.rtl .radio input,
.rtl .radio-inline,
.rtl .checkbox input,
.rtl .checkbox-inline input {
  margin-right: -1.25rem;
  margin-left: inherit;
}

.rtl .list-group {
  padding-right: 0;
  padding-left: 40px;
}

.rtl .close {
  float: left;
}

.rtl .modal-header .close {
  margin: -15px auto -15px -15px;
}

.rtl .modal-footer > :not(:first-child) {
  margin-right: .25rem;
}

.rtl .alert-dismissible .close {
  right: inherit;
  left: 0;
}

.rtl .dropdown-toggle::after {
  margin-right: .255em;
  margin-left: 0;
}

.rtl .form-check-input {
  margin-right: -1.25rem;
  margin-left: inherit;
}

.rtl .form-check-label {
  padding-right: 1.25rem;
  padding-left: inherit;
}

.rtl .input-group .form-control:not(:last-child),
.rtl .input-group-addon:not(:last-child),
.rtl .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn,
.rtl .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.rtl .input-group-btn:not(:last-child) > .btn,
.rtl .input-group-btn:not(:last-child) > .btn-group > .btn,
.rtl .input-group-btn:not(:last-child) > .dropdown-toggle {
  border-radius: 0;
      text-align: right;
}

.rtl .input-group .form-control:not(:first-child),
.rtl .input-group-addon:not(:first-child),
.rtl .input-group-btn:not(:first-child) > .btn,
.rtl .input-group-btn:not(:first-child) > .btn-group > .btn,
.rtl .input-group-btn:not(:first-child) > .dropdown-toggle,
.rtl .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn,
.rtl .input-group-btn:not(:last-child) > .btn:not(:first-child) {
  border-radius:0;
}

.rtl .col-xs-1,
.rtl .col-xs-10,
.rtl .col-xs-11,
.rtl .col-xs-12,
.rtl .col-xs-2,
.rtl .col-xs-3,
.rtl .col-xs-4,
.rtl .col-xs-5,
.rtl .col-xs-6,
.rtl .col-xs-7,
.rtl .col-xs-8,
.rtl .col-xs-9 {
  float: right;
}

.rtl .push-xs-1 {
  right: 8.333333%;
}

.rtl .push-xs-2 {
  right: 16.666667%;
}

.rtl .push-xs-3 {
  right: 25%;
}

.rtl .push-xs-4 {
  right: 33.333333%;
}

.rtl .push-xs-5 {
  right: 41.666667%;
}

.rtl .push-xs-6 {
  right: 50%;
}

.rtl .push-xs-7 {
  right: 58.333333%;
}

.rtl .push-xs-8 {
  right: 66.666667%;
}

.rtl .push-xs-9 {
  right: 75%;
}

.rtl .push-xs-10 {
  right: 83.333333%;
}

.rtl .push-xs-11 {
  right: 91.666667%;
}

.rtl .push-xs-12 {
  right: 100%;
}

.rtl .offset-xs-0 {
  margin-right: 0%;
}

.rtl .offset-xs-1 {
  margin-right: 8.333333%;
}

.rtl .offset-xs-2 {
  margin-right: 16.666667%;
}

.rtl .offset-xs-3 {
  margin-right: 25%;
}

.rtl .offset-xs-4 {
  margin-right: 33.333333%;
}

.rtl .offset-xs-5 {
  margin-right: 41.666667%;
}

.rtl .offset-xs-6 {
  margin-right: 50%;
}

.rtl .offset-xs-7 {
  margin-right: 58.333333%;
}

.rtl .offset-xs-8 {
  margin-right: 66.666667%;
}

.rtl .offset-xs-9 {
  margin-right: 75%;
}

.rtl .offset-xs-10 {
  margin-right: 83.333333%;
}

.rtl .offset-xs-11 {
  margin-right: 91.666667%;
}

.rtl .offset-xs-12 {
  margin-right: 100%;
}

@media (min-width: 544px) {
  .rtl .col-sm-1,
  .rtl .col-sm-2,
  .rtl .col-sm-3,
  .rtl .col-sm-4,
  .rtl .col-sm-5,
  .rtl .col-sm-6,
  .rtl .col-sm-7,
  .rtl .col-sm-8,
  .rtl .col-sm-9,
  .rtl .col-sm-10,
  .rtl .col-sm-11,
  .rtl .col-sm-12 {
    float: right;
  }
  .rtl .offset-sm-0 {
    margin-right: 0%;
  }
  .rtl .offset-sm-1 {
    margin-right: 8.333333%;
  }
  .rtl .offset-sm-2 {
    margin-right: 16.666667%;
  }
  .rtl .offset-sm-3 {
    margin-right: 25%;
  }
  .rtl .offset-sm-4 {
    margin-right: 33.333333%;
  }
  .rtl .offset-sm-5 {
    margin-right: 41.666667%;
  }
  .rtl .offset-sm-6 {
    margin-right: 50%;
  }
  .rtl .offset-sm-7 {
    margin-right: 58.333333%;
  }
  .rtl .offset-sm-8 {
    margin-right: 66.666667%;
  }
  .rtl .offset-sm-9 {
    margin-right: 75%;
  }
  .rtl .offset-sm-10 {
    margin-right: 83.333333%;
  }
  .rtl .offset-sm-11 {
    margin-right: 91.666667%;
  }
  .rtl .offset-sm-12 {
    margin-right: 100%;
  }
}

@media (min-width: 768px) {
  .rtl .col-md-1,
  .rtl .col-md-10,
  .rtl .col-md-11,
  .rtl .col-md-12,
  .rtl .col-md-2,
  .rtl .col-md-3,
  .rtl .col-md-4,
  .rtl .col-md-5,
  .rtl .col-md-6,
  .rtl .col-md-7,
  .rtl .col-md-8,
  .rtl .col-md-9 {
    float: right;
  }
  .rtl .offset-md-0 {
    margin-right: 0%;
  }
  .rtl .offset-md-1 {
    margin-right: 8.333333%;
  }
  .rtl .offset-md-2 {
    margin-right: 16.666667%;
  }
  .rtl .offset-md-3 {
    margin-right: 25%;
  }
  .rtl .offset-md-4 {
    margin-right: 33.333333%;
  }
  .rtl .offset-md-5 {
    margin-right: 41.666667%;
  }
  .rtl .offset-md-6 {
    margin-right: 50%;
  }
  .rtl .offset-md-7 {
    margin-right: 58.333333%;
  }
  .rtl .offset-md-8 {
    margin-right: 66.666667%;
  }
  .rtl .offset-md-9 {
    margin-right: 75%;
  }
  .rtl .offset-md-10 {
    margin-right: 83.333333%;
  }
  .rtl .offset-md-11 {
    margin-right: 91.666667%;
  }
  .rtl .offset-md-12 {
    margin-right: 100%;
  }
}

@media (min-width: 992px) {
  .rtl .col-lg-1,
  .rtl .col-lg-2,
  .rtl .col-lg-3,
  .rtl .col-lg-4,
  .rtl .col-lg-5,
  .rtl .col-lg-6,
  .rtl .col-lg-7,
  .rtl .col-lg-8,
  .rtl .col-lg-9,
  .rtl .col-lg-10,
  .rtl .col-lg-11,
  .rtl .col-lg-12 {
    float: right;
  }
  .rtl .offset-lg-0 {
    margin-right: 0%;
  }
  .rtl .offset-lg-1 {
    margin-right: 8.333333%;
  }
  .rtl .offset-lg-2 {
    margin-right: 16.666667%;
  }
  .rtl .offset-lg-3 {
    margin-right: 25%;
  }
  .rtl .offset-lg-4 {
    margin-right: 33.333333%;
  }
  .rtl .offset-lg-5 {
    margin-right: 41.666667%;
  }
  .rtl .offset-lg-6 {
    margin-right: 50%;
  }
  .rtl .offset-lg-7 {
    margin-right: 58.333333%;
  }
  .rtl .offset-lg-8 {
    margin-right: 66.666667%;
  }
  .rtl .offset-lg-9 {
    margin-right: 75%;
  }
  .rtl .offset-lg-10 {
    margin-right: 83.333333%;
  }
  .rtl .offset-lg-11 {
    margin-right: 91.666667%;
  }
  .rtl .offset-lg-12 {
    margin-right: 100%;
  }
}

@media (min-width: 1200px) {
  .rtl .col-xl-1,
  .rtl .col-xl-2,
  .rtl .col-xl-3,
  .rtl .col-xl-4,
  .rtl .col-xl-5,
  .rtl .col-xl-6,
  .rtl .col-xl-7,
  .rtl .col-xl-8,
  .rtl .col-xl-9,
  .rtl .col-xl-10,
  .rtl .col-xl-11,
  .rtl .col-xl-12 {
    float: right;
  }
  .rtl .offset-xl-0 {
    margin-right: 0%;
  }
  .rtl .offset-xl-1 {
    margin-right: 8.333333%;
  }
  .rtl .offset-xl-2 {
    margin-right: 16.666667%;
  }
  .rtl .offset-xl-3 {
    margin-right: 25%;
  }
  .rtl .offset-xl-4 {
    margin-right: 33.333333%;
  }
  .rtl .offset-xl-5 {
    margin-right: 41.666667%;
  }
  .rtl .offset-xl-6 {
    margin-right: 50%;
  }
  .rtl .offset-xl-7 {
    margin-right: 58.333333%;
  }
  .rtl .offset-xl-8 {
    margin-right: 66.666667%;
  }
  .rtl .offset-xl-9 {
    margin-right: 75%;
  }
  .rtl .offset-xl-10 {
    margin-right: 83.333333%;
  }
  .rtl .offset-xl-11 {
    margin-right: 91.666667%;
  }
  .rtl .offset-xl-12 {
    margin-right: 100%;
  }
}

@media screen and (min-width:992px) and (max-width:1200px) {

}
@media screen and (max-width:992px) {

}
@media screen and (max-width:767px) {
.float-right,.float-left  {
    float: none!important;
}
.course-list li {
    text-align: right;
}
    
}

@media screen and (max-width:323px) {

}
.nav-pills{
	margin-bottom: 36px;
}
.nav-pills a{
	float: right;

background: #616161;

padding: 5px 10px;

display: inline-black;

color: #fff;
}
.nav-pills a.active{
	background:#D95621;
}


.resulq img{
	width:65px;
}

.table-st1{
	font-size:13px;
}
.aside{

}
.aside a{
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
.page_title{
  margin-right: 16px;

padding: 20px 0 6px;
font-size: 24px;
}
.error{
	color:red;
}
.error.required{
	border-color:red;
}
#clock{
	font-size: 30px;

font-weight: bold;

color: #D95621;
}
#NationalityId-error{
    float: left;

position: absolute;

left: 0;

z-index: 1;
}
#signup2 label.error{
    position: absolute;

left: 4px;

z-index: 2;

line-height: 34px;

font-size: 12px;
}